@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Rubik');

body {
    min-height: 100vh;
    display: flex;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

<<<<<<< Updated upstream
.sidebar-container {
    background-color: #0D0D28;
=======


.sidebar {
    background-color: #000814;
>>>>>>> Stashed changes
    color: #FFF8F0;
    min-width: 300px;
    display: flex;



<<<<<<< Updated upstream
=======
.sidebar>* {
    /* font-family: 'Nunito', sans-serif; */
    font-size: 1.3em;
}

.sidebar h3 {
    color: #FFF8F0;
    font-size: 29px;
    text-transform: uppercase;
    margin-bottom: 2.2em
}

.sidebar .menu {
    margin: 0 -1rem;
    overflow: auto;
}

.sidebar .menu .menu-item {
    display: block;
    padding: 1.2em;
    color: #FFF;
    text-decoration: none;
    transition: 0.2s linear;
    font-size: 20px
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
    color: #ffd60a;
    border-right: 5px solid #ffd60a;
>>>>>>> Stashed changes
}

.content {
    background-color: #2E933C;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    justify-content: flex-start;
    /* border: 5px solid darkblue; */

}

.content>* {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
}

.title-container {
    display: flex;
    /* flex-direction: column; */
    height: 100vh;
    background: #001845;
    color: #FFF8F0;
    flex-wrap: wrap;
    position: relative;
}



.profileImage {

<<<<<<< Updated upstream
    height: 400px;
}


.name-text {
    position: relative;
=======
    height: 420px;

}


.title-desc {
    /* position: relative; */
>>>>>>> Stashed changes
    margin: auto;
    text-align: center;

}

.title-name {
    font-size: 3em;
    font-weight: 900;
}

.title-dev {
    font-size: 1.9em;
    font-weight: 900;
}


.about-container {
<<<<<<< Updated upstream
    height: 250px;
    background: #eeebd3;
=======
    height: 385px;
    background: #e59500;
>>>>>>> Stashed changes
    text-align: center;
    color: black;
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
<<<<<<< Updated upstream
    padding-top: 30px
=======

>>>>>>> Stashed changes
}

.about-container>div {
    margin: auto;
    text-align: center;
}

<<<<<<< Updated upstream
.about-content {
    font-size: 1.25em;
    font-family: 'Rubik', sans-serif;
=======
.about-container>div>h3 {
    font-size: 2.7em;
    font-weight: 900;

>>>>>>> Stashed changes
}

.about-container>div>p {

    font-size: 1.6em;
    font-weight: 500;
    width: 900px;
    line-height: 1.7;
}

.skills-container {
<<<<<<< Updated upstream
    background: #282C34;
=======
    background: #001d3d;
>>>>>>> Stashed changes
    color: #FFF8F0;
    text-align: center;
}

.projects-container {
    background: #595758;
    text-align: center;
    color: #FFF8F0;
}

@media only screen and (max-width: 900px) {

    body {
        flex-direction: column-reverse;
    }
}