@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Rubik');

body {
    min-height: 100vh;
    display: flex;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.content {
    background-color: #2E933C;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    justify-content: flex-start;
    color: #DEB992
}

.content>* {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
}

.sidebar {
    background-color: #081521;

    min-width: 250px;
    box-shadow: inset -5px 0px 10px -5px black;

    padding: 1.7rem 1rem;
    text-transform: uppercase;



}



.sidebar>h3 {
    font-size: 1.8rem;
    color: #869BA9;
    margin-bottom: 3.2rem;
    font-weight: 200;

}

.sidebar .menu {
    margin: 0 -1rem;
    overflow: auto;
    font-family: 'Raleway', sans-serif;
    color: #869BA9;

}

.sidebar .menu .menu-item {
    display: block;
    padding: 1em;
    text-decoration: none;
    transition: 0.2s linear;
    color: #869BA9;
    font-size: 1.2rem;

}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
    color: #1BA098;
    border-right: 5px solid #1BA098;
}



.title-container {
    display: flex;
    /* flex-direction: column; */
    height: 100vh;
    background: #081523;
    /* color: #FFF8F0; */
    /* flex-wrap: wrap; */
    /* position: relative; */

}



.profileImage {

    height: 23rem;

}


.name-text {
    margin: auto;
    text-align: left;
    /* font-size: 1.2em;
    font-weight: 200; */


}

.section-heading {
    text-align: center;
    font-size: 2.8em;
    font-weight: 400;
    margin-bottom: 16px;
}

.about-container {
    height: fit-content;
    /* background: #C9D4F4; */
    background: #001F34;
    color: #DEB992;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

}

.container-wrapper {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;

}


.about-para {
    font-size: 1.3rem;
    line-height: 1.4;
    margin-bottom: 70px;
}

.skills-container {
    background: #081521;
    /* color: #FFF8F0; */
    height: 400px;
    text-align: center;
    /* justify-content: center; */

}


.skills-heading {
    font-size: 28px;
}

.skills-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

    font-size: 18px;
}

.skills-item>img {
    width: 50px;
    /* font-size: 5px; */
}

.experience-container {
    background: #001F34;
    /* color: black; */
    height: fit-content;
    padding: 0px 60px 50px;
    flex-wrap: wrap;
    text-align: center;
}

.experience-div {
    margin: 0px 60px 50px;
}



.experience-subheading {

    text-align: left;
    font-size: 1.3em;
    font-weight: 400;
    margin: 24px 0 0;
}

.experience-content {
    margin-bottom: 50px;
}

.experience-title {
    /* -webkit-font-smoothing: antialiased;
    font-family: "Raleway",sans-serif;
    scroll-behavior: smooth; */
    text-align: left;
    font-size: 1.4em;
    margin: 10px 0;
}

.experience-section {
    text-align: center;
    /* font-size: calc(10px + 2vmin); */
    /* color: #fff; */
    font-family: "Raleway", sans-serif;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    max-width: fit-content;
}

.experience-first {
    flex: 1 1
}

.experience-year {

    white-space: nowrap;
    text-align: left;
    /* font-size: .8em;
    font-weight: 300; */
    margin: 10px 20px 10px 0;
    /* color: #ecebe7; */
}

.experience-program {

    text-align: left;
    /* font-size: .8em; */
    margin: 10px 0;
    /* color: #ecebe7; */
}

.experience-addition {

    text-align: left;
    font-size: 1em;
    font-weight: 300;
    margin: 0px 0px;
    line-height: 1em;
    white-space: pre-wrap;
}


.experience-addition li {
    margin: -10px
}


.projects-container {
    background: #081521;

    padding: 0 60px;
    flex-wrap: wrap;
    text-align: left;

}

.projects-container .projects-material-container>div:not(:first-child) {
    margin-bottom: 70px;
}

.projects-container .project-title {
    margin: 0px;
    font-size: 1.4em;
    font-weight: 200;
}

.projects-container .project-info * {
    margin: 8px 0;
}

.project-info {
    display: flex;
    flex-direction: row;
}

.projects-container .project-info .project-year {
    font-size: 0.9em;
    margin-right: 15px;
}

.projects-container .project-info .project-purpose {
    font-size: 0.9em;
    margin-left: 15px;
}

.projects-container .project-image {
    width: 100%;

}

.projects-container .project-content {
    /* font-size: .8em; */
    font-weight: 300;
    margin-bottom: 0;
}

.projects-container .projects-link {
    /* font-size: .75em; */
    font-weight: 300;
    margin: 0;
    color: #06bee1;
}


.menu-toggle {
    display: none;
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 99px;
    background-color: #3bba9c;
    cursor: pointer;
}

.hamburger {
    position: relative;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
}

.hamburger>span,
.hamburger>span::before,
.hamburger>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 99px;
    background-color: #FFF;
    transition-duration: .25s;
}

.hamburger>span::before {
    content: '';
    top: -8px;
}

.hamburger>span::after {
    content: '';
    top: 8px;
}

.menu-toggle.is-active .hamburger>span {
    transform: rotate(45deg);
}

.menu-toggle.is-active .hamburger>span::before {
    top: 0;
    transform: rotate(0deg);
}

.menu-toggle.is-active .hamburger>span::after {
    top: 0;
    transform: rotate(90deg);
}

@media only screen and (max-width: 1024px) {

    .sidebar {
        max-width: 200px;
    }

    body {
        flex-direction: column-reverse;
    }
}

@media (max-width: 1024px) {
    .menu-toggle {
        display: block;
    }

    .sidebar {

        position: fixed;
        top: 0;
        left: -400px;
        height: 100vh;
        width: 100%;
        max-width: 300px;
        transition: 0.2s linear;

    }

    .sidebar.is-active {
        left: 0;
    }
}

@media (max-width: 640px) {
    .about-container {
        padding: 0 20px 50px;
    }

    .about-para {
        margin-bottom: 0px;
    }
}

@media (min-width: 1280px) {
    .container-wrapper-maxWidthLg {
        max-width: 1280px;
    }
}

@media (min-width: 600px) {
    .container-wrapper {
        padding-left: 24px;
        padding-right: 24px;
    }
}