@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Rubik');

body {
    min-height: 100vh;
    display: flex;
    margin: 0;
}



.sidebar {
    background-color: #0D0D28;
    color: #FFF8F0;
    min-width: 300px;
    /* display: flex; */
    box-shadow: inset -5px 0px 5px -5px rgba(19, 18, 18, 0.179);

    padding: 1.7rem 1rem;

}

.sidebar>* {
    font-family: 'Fire Sans', sans-serif
}

.sidebar h3 {
    color: #707973;
    font-size: 1.25 rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem
}

.sidebar .menu {
    margin: 0 -1rem;
}

.sidebar .menu .menu-item {
    display: block;
    padding: 1em;
    color: #FFF;
    text-decoration: none;
    transition: 0.2s linear;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
    color: #3bba9c;
    border-right: 5px solid #3bba9c;
}

.content {
    background-color: #2E933C;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    justify-content: flex-start;


}

.content>* {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
}

.title-container {
    display: flex;
    /* flex-direction: column; */
    height: 100vh;
    background: #15153F;
    color: #FFF8F0;
    flex-wrap: wrap;
    /* position: relative; */
}



.profileImage {

    height: 400px;

}


.name-text {
    position: relative;
    margin: auto;
    text-align: center;
    font-size: 1.25em;
    font-family: 'Rubik', sans-serif;

}


.about-container {
    height: 250px;
    /* background: #C9D4F4; */
    background: #CDCDEF;

    text-align: center;
    color: black;
    font-family: "Raleway", sans-serif;
    flex-wrap: wrap;
    padding-top: 20px
}

.about-heading {
    font-size: 2.25em;
    font-family: 'Rubik', sans-serif;
}

.about-content {
    font-size: 1.25em;
    font-family: 'Rubik', sans-serif;

}

.skills-container {
    background: #15153F;
    color: #FFF8F0;
    text-align: center;
    font-size: 2.0em;
    font-family: 'Rubik', sans-serif;
}

.projects-container {
    background: #595758;
    text-align: center;
    color: #FFF8F0;
    padding-top: 20px
}

.menu-toggle {
    display: none;
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 99px;
    background-color: orange;
    cursor: pointer;
}

.hamburger {
    position: relative;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
}

.hamburger>span,
.hamburger>span::before,
.hamburger>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 99px;
    background-color: #FFF;
    transition-duration: .25s;
}

.hamburger>span::before {
    content: '';
    top: -8px;
}

.hamburger>span::after {
    content: '';
    top: 8px;
}

.menu-toggle.is-active .hamburger>span {
    transform: rotate(45deg);
}

.menu-toggle.is-active .hamburger>span::before {
    top: 0;
    transform: rotate(0deg);
}

.menu-toggle.is-active .hamburger>span::after {
    top: 0;
    transform: rotate(90deg);
}

@media only screen and (max-width: 1024px) {

    .sidebar {
        max-width: 200px;
    }

    body {
        flex-direction: column-reverse;
    }
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    /* body {
        padding-top: 8rem;
    } */

    .sidebar {
        position: fixed;
        /* top: 0;
        left: -300px;
        height: 100vh;
        width: 100%;
        max-width: 300px; */
        transition: 0.2s linear;
        box-shadow: none;
        /* box-shadow: inset -5px 0px 5px -5px rgba(19, 18, 18, 0.179); */
    }

    .sidebar.is-active {
        left: 0;
    }
}